.vscode/
src/CodeKeeper/CodeKeeper
src/CodeKeeper/data.db
src/CodeKeeper/data.db
*.db
src/CodeKeeper/moc_predefs.h
src/CodeKeeper/qmake_qmake_immediate.qrc
*.db
mykey.asc
src/CodeKeeper/CodeKeeper.asc
src/CodeKeeper/build/
/src/CodeKeeper/CMakeFiles
/src/CodeKeeper/CodeKeeper_autogen
